#bouton3,#bouton9,#bouton12,#bouton18,#bouton21,#bouton27,#bouton30,#bouton36,#bouton5,#bouton14,#bouton23,#bouton32,#bouton1,#bouton7,#bouton16,#bouton19,#bouton25,#bouton34

{

	background-color:red;
	color:white;
	border:white;
	width:80px;
	height: 80px;
	font-size: 40px;

}

#bouton6,#bouton15,#bouton24,#bouton33,#bouton2,#bouton8,#bouton11,#bouton17,#bouton20,#bouton26,#bouton29,#bouton35,#bouton4,#bouton10,#bouton13,#bouton22,#bouton28,#bouton31
{

	background-color:black;
	color:white;
	border:white;
	width:80px;
	height: 80px;
	font-size: 40px;
}


#bouton0

{

	background-color:green;
	color:white;
	border:white;
	width:80px;
	height: 240px;
	font-size: 40px;

}


#boutonpremiere12,#boutondeuxieme12,#boutontroisieme12
{

	background-color:red;
	color:white;
	border:white;
	width:360px;
	height: 80px;
	font-size: 40px;

}

#boutona18,#boutonPair,#boutonRouge,#boutonNoir,#boutonImpair,#boutona36
{

	background-color:red;
	color:white;
	border:white;
	width:178px;
	height: 80px;
	font-size: 40px;

}

#lignes

{
display : inline-block ;
vertical-align: top;

}

#case0

{
display : inline-block ;
vertical-align: top;

}



#plateau 

{

	width:1200px;
	margin : auto;
}