

#lignes
{
display :   inline-block ;
width: 10px;
letter-spacing: 260px;
/*border:1px solid blue;*/
}


#div0
{
display :   inline-block ;
padding-top:5px;
width: 800px;
height:800px;
padding-bottom:5px;
vertical-align:top;
/*border:1px solid blue;*/

}

#Partie
{
display : inline-block ;
padding-top:5px;
overflow-y: scroll;
height: 100px;
font-family: monospace;
display :   inline-block ;  
width: 250px;
height:500px;
vertical-align:top;
padding-left:20px;
/*border:1px solid blue;*/
}

#nav {

padding-top:20px;
padding-bottom:20px;
width: 1100px;
height:500px;
/*border:1px solid blue;*/
margin:auto;
    
}

#div2, #div4,  #div6,  #div8, #div9, #div11,  #div13,  #div15, #div18, #div20,  #div22,  #div24, #div25, #div27,  #div29,  #div31,#div34, #div36,  #div38,  #div40, #div41, #div43,  #div45,  #div47, #div50, #div52,  #div54,  #div56, #div57, #div59,  #div61,  #div63

{
    float: left;
    width: 70px;
    height: 54px;
    padding: 10px;
    border: 1px solid black;
    background-color: lightblue;
}

#div1, #div3,  #div5,  #div7, #div10, #div12,  #div14,  #div16, #div17, #div19,  #div21,  #div23, #div26, #div28,  #div30,  #div32,#div33, #div35,  #div37,  #div39, #div42, #div44,  #div46,  #div48, #div49, #div51,  #div53,  #div55, #div58, #div60,  #div62,  #div64

{
    float: left;
    width: 70px;
    height: 54px;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
}

#div-35, #div-36, #div-37, #div-38, #div-39, #div-40, #div-41, #div-42, #div-43, #div-44, #div-45, #div-46, #div-47, #div-48, #div-49, #div-50

{
    display: inline;
    width: 60px;
    height: 70px;
    float: left;
}

#div100, #div101, #div102, #div103, #div104, #div105, #div106, #div107, #div108, #div109, #div110, #div111, #div112, #div113, #div114, #div115

{
    display: inline;
    width: 60px;
    height: 50px;
     float: right;}

#colonnes {

letter-spacing: 40px;
}

#control {
width: 200px;
margin:auto;
    
}
